#nizami{
    color: red;
}

#kepez{
    color: red;
}

#mkr{
    color: red;
}

#input_{
    background-color: rgb(215, 149, 49);
}

#caption{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}